  <div class="formz">
    <%= render 'form' %>
  </div>

<div class="tab">
  <ul class="tabs">
    <li><a href="#" onClick="getQbData()">Passing</a></li>
    <li><a href="#" onClick="getRbData()">Rushing</a></li>
    <li><a href="#" onClick="getWrData()">Receiving</a></li>
    <li><a href="#">Kicking</a></li>
  </ul> <!-- / tabs -->

  <div class="tab_content">

    <div class="tabs_item">
      <%= render 'qbgraph' %>
    </div> <!-- / tabs_item -->

    <div class="tabs_item">
      <%= render 'rbgraph' %>
    </div> <!-- / tabs_item -->

    <div class="tabs_item">
       <%= render 'wrgraph' %>
    </div> <!-- / tabs_item -->

     <div class="tabs_item">
      <h4>Who cares.</h4>
    </div> <!-- / tabs_item -->

  </div> <!-- / tab_content -->
</div> <!-- / tab -->

<!--
<%= %>
<%= %>
<%= %>
<%= %>
<%= %>
<%= %> -->
