  <div class="formz">
    <%= render 'form' %>
  </div>

<center>
<div class="tab">

  <ul class="tabs">
    <li><a href="#" onClick="getQbData()">QB</a></li>
    <li><a href="#" onClick="getQbData()">RB</a></li>
    <li><a href="#" onClick="getQbData()">WR</a></li>
    <li><a href="#" onClick="getQbData()">TE</a></li>
    <li><a href="#" onClick="getQbData()">DEF</a></li>
  </ul> <!-- / tabs -->

  <div class="tab_content">

    <div class="tabs_item">
      <h4> QB - Week 14 </h4>
      <%= render 'qbgraph' %>
    </div> <!-- / tabs_item -->

    <div class="tabs_item">
      <h4>RB - Week 14</h4>
       <p> This will show a graph. </p>
    </div> <!-- / tabs_item -->

    <div class="tabs_item">
      <h4>WR - Week 14</h4>
       <p> This will show a graph. </p>
    </div> <!-- / tabs_item -->

    <div class="tabs_item">
      <h4>TE - Week 14</h4>
       <p> This will show a graph. </p>
    </div> <!-- / tabs_item -->

     <div class="tabs_item">
      <h4>DEF - Week 14</h4>
      <p> This will show a graph. </p>
    </div> <!-- / tabs_item -->

  </div> <!-- / tab_content -->
</div> <!-- / tab -->
</center>
<!--
<%= %>
<%= %>
<%= %>
<%= %>
<%= %>
<%= %> -->
